//
// Search View SCSS File
// ----------------------------------

.search {
  text-align: center;
  margin-top: 40px;

  .search__header {
    font-size: 30px;
    margin-bottom: 20px;
  }

  // In lieu of @at-root directiver
  // .search__icon {
    .search__icon--default {
      color: #c3002f;
    }
    .search__icon--valid {
      font-size: 15px;
      color: #99C262;
    }
  // }

  .search__results {
    font-size: 25px;
    margin-top: 40px;
  }
}